@{
    ViewData["Title"] = "ContactUs";
}


<div class="contact-us hidden">
<h1 class="contact-us-title">@ViewData["Title"]</h1>
<h5 class="contact-us-subtitle">We'd love to hear from you! If you have any questions, feedback, or inquiries, please don't hesitate to reach out to us. Our dedicated team is here to assist you. You can contact us Via the Below Email Address :</h5>
<h6 class="contact-us-email">Kheirollahi.mahan@gmail.com</h6>
</div>
