@{
    ViewData["Title"] = "Home Page";
}


<div class="home hidden">
<div class="text-center">
    <h1 class="main-page-title">NoteHub</h1>
    <h3 class="main-page-subtitle">Your Digital Sanctuary for Creativity and Organization</h3>
    <h4 class="main-page-description">NoteHub is more than just a note-taking app, it's your creative haven, your organizational companion, and your gateway to productivity. Designed with a passion for simplicity and a commitment to enhancing your digital experience, NoteHub empowers you to capture your thoughts, ideas, and inspirations effortlessly.</h4>
    <h1 class="main-page-feature-title" >Why NoteHub ?</h1>
</div>
<div class="main-page-features">
    <div class="row">


    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://thumbs.dreamstime.com/b/art-materials-craft-design-creativity-vector-doodle-seamless-pattern-background-items-handmade-activity-creative-104632627.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Seamless Creativity</h5>
            <p class="card-text">NoteHub embraces the art of creation. With its intuitive interface and versatile tools, your imagination knows no bounds. Whether you're an artist, writer, student, or professional, NoteHub provides the perfect canvas for your ideas to flourish.</p>
        </div>
    </div>


        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://wiredimpact.com/wp-content/uploads/2018/08/user-friendly-website.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Intuitive and User-Friendly</h5>
                <p class="card-text">NoteHub's sleek and minimalist design creates an enjoyable and immersive user experience. The app's intuitive features and seamless navigation empower you to focus on what truly matters—your ideas. Say goodbye to distractions and hello to enhanced productivity. NoteHub is your reliable companion, guiding you every step of the way on your creative journey.</p>
            </div>
        </div>



        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://www.nokia.com/sites/default/files/2022-01/cybersecurity4.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Privacy and Security</h5>
                <p class="card-text">We understand that your notes are personal and important to you. That's why NoteHub prioritizes your privacy and security. Your data is encrypted and stored securely, ensuring that only you have access to your notes. Feel confident in your digital sanctuary, knowing that your ideas are protected with state-of-the-art security measures.</p>
            </div>
        </div>



    </div>
</div>
</div>
